.moxie,
.nearOat {
  position: relative;
  line-height: 16.5px;
  display: inline-block;
  width: 148px;
}
.nearOat {
  font-size: var(--font-size-base);
  line-height: 21px;
  font-family: var(--font-mulish);
  color: var(--color-gray-500);
  text-align: center;
  width: 55px;
}
.eatHealthy {
  position: absolute;
  top: 107px;
  left: 11px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
  text-align: left;
  font-size: var(--font-size-9xl);
  font-family: var(--font-signika);
}
.backSymbolIcon {
  position: absolute;
  top: 62.5px;
  left: 13.5px;
  width: 6.5px;
  height: 13px;
  cursor: pointer;
}
.deliveryChild {
  position: absolute;
  height: 100%;
  width: 87.76%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 12.24%;
  border-radius: var(--br-md);
  background-color: var(--color-green-200);
}
.div {
  position: absolute;
  height: 87.88%;
  width: 21.43%;
  top: 5.72%;
  left: 20.41%;
  line-height: 21.5px;
  display: inline-block;
}
.deliveryItem {
  position: absolute;
  height: 27.27%;
  width: 11.22%;
  top: 20.54%;
  right: 42.86%;
  bottom: 52.19%;
  left: 45.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.delivery1 {
  position: absolute;
  height: 60.61%;
  width: 80.61%;
  top: 39.06%;
  left: 0;
  font-size: var(--font-size-xs);
  letter-spacing: 0.04em;
  line-height: 22px;
  display: inline-block;
}
.delivery {
  position: absolute;
  top: 83.57px;
  left: 330px;
  width: 98px;
  height: 42.43px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.maskImageIcon,
.photosChild {
  position: absolute;
  width: 87.76%;
  right: 0;
  bottom: 0;
  left: 12.24%;
}
.maskImageIcon {
  height: 100%;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.photosChild {
  height: 99.37%;
  top: 0.63%;
  border-radius: var(--br-md);
  background-color: var(--color-gray-900);
}
.div1,
.photos1 {
  position: absolute;
  height: 87.32%;
  width: 21.43%;
  top: 2.38%;
  left: 16.33%;
  line-height: 21.5px;
  display: inline-block;
}
.photos1 {
  height: 60.22%;
  width: 80.61%;
  top: 35.5%;
  left: 0;
  font-size: var(--font-size-xs);
  letter-spacing: 0.04em;
  line-height: 22px;
}
.photos {
  position: absolute;
  top: 131px;
  left: 330px;
  width: 98px;
  height: 42px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.diningReviewsChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  background-color: #f0ebeb;
}
.reviews {
  position: absolute;
  height: 40.54%;
  width: 33.63%;
  top: 18.92%;
  left: 46.9%;
  letter-spacing: 0.13em;
  line-height: 22px;
  display: inline-block;
}
.deliveryInBlack,
.diningReviews {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.diningReviews {
  width: 85.34%;
  right: 0;
  left: 14.66%;
}
.deliveryInBlack {
  width: 29.32%;
  right: 70.68%;
  left: 0;
}
.deliveryDiningReviews {
  position: absolute;
  top: 209px;
  left: 40px;
  width: 331px;
  height: 37px;
  color: var(--color-gray-500);
}
.vegOnoffChild,
.vegOnoffItem {
  position: absolute;
  height: 73.68%;
  width: 92.11%;
  top: 10.53%;
  right: 0;
  bottom: 15.79%;
  left: 7.89%;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-300);
}
.vegOnoffItem {
  height: 100%;
  width: 50%;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  border: 2px solid var(--color-gray-400);
  box-sizing: border-box;
}
.veg1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.veg {
  position: absolute;
  top: -2px;
  left: 34px;
  letter-spacing: 0.15em;
  line-height: 21.5px;
  display: inline-block;
  width: 34px;
  height: 15px;
}
.vegOnoff {
  top: 428px;
  left: 23px;
  width: 38px;
  height: 19px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-700);
}
.egg,
.eggOnoff,
.vegOnoff {
  position: absolute;
}
.egg {
  top: -2px;
  left: 35px;
  letter-spacing: 0.15em;
  line-height: 21.5px;
  display: inline-block;
  width: 34px;
  height: 15px;
}
.eggOnoff {
  top: 428px;
  left: 121px;
  width: 38px;
  height: 19px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-700);
}
.maskGroupIcon {
  position: absolute;
}
.moxieOrderPageChild {
  position: absolute;
  top: 473px;
  left: 0;
  width: 414px;
  height: 1px;
}
.maskGroupIcon {
  height: 87.25%;
  width: 22.66%;
  top: 0;
  right: 0;
  bottom: 12.75%;
  left: 77.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.addChild {
  position: absolute;
  height: 83.33%;
  width: 100%;
  top: 16.67%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: #ffecec;
  border: 0.2px solid var(--color-red-100);
  box-sizing: border-box;
}
.add1 {
  height: 63.33%;
  width: 41.43%;
  top: 23.33%;
  left: 28.57%;
  line-height: 21px;
  display: inline-block;
}
.add,
.add1,
.div2 {
  position: absolute;
}
.div2 {
  height: 53.33%;
  width: 15.71%;
  top: 0;
  left: 78.57%;
  line-height: 21px;
  display: inline-block;
}
.add {
  height: 29.41%;
  width: 17.24%;
  top: 70.59%;
  right: 2.46%;
  bottom: 0;
  left: 80.3%;
}
.div3 {
  display: inline-block;
}
.div3,
.div4,
.kcal,
.samosa {
  position: absolute;
  line-height: 21px;
}
.samosa {
  display: inline-block;
  height: 43.14%;
  width: 43.11%;
  top: 0;
  left: 7.78%;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
}
.div3 {
  width: 45.51%;
  top: 31.37%;
  left: 0;
}
.div4,
.kcal {
  display: none;
}
.kcal {
  width: 29.94%;
  top: 119.61%;
  left: 11.98%;
  color: var(--color-green-200);
}
.div4 {
  width: 45.51%;
  top: -47.06%;
  left: 197.01%;
  color: var(--color-white);
}
.groupChild {
  height: 14.71%;
  width: 4.49%;
  top: 13.73%;
  right: -130.24%;
  bottom: 71.57%;
  left: 225.75%;
}
.groupChild,
.groupInner,
.groupItem {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.groupItem {
  height: 35.29%;
  width: 10.78%;
  top: 80.39%;
  right: -95.21%;
  bottom: -15.69%;
  left: 184.43%;
}
.groupInner {
  height: 41.72%;
  width: 12.74%;
  top: 76.47%;
  right: 69.3%;
  bottom: -18.19%;
  left: 17.96%;
}
.div5,
.ratingStarChild {
  position: absolute;
  height: 66.67%;
}
.ratingStarChild {
  width: 59.71%;
  top: 33.33%;
  right: 40.29%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div5 {
  width: 10.79%;
  top: 5.56%;
  left: 48.92%;
  line-height: 21px;
  display: inline-block;
}
.mustTry,
.rectangleDiv {
  position: absolute;
  height: 70.59%;
}
.rectangleDiv {
  width: 100%;
  top: 29.41%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: rgba(253, 255, 169, 0.51);
  border: 0.5px solid var(--color-blue-100);
  box-sizing: border-box;
}
.mustTry {
  width: 81.82%;
  top: 0;
  left: 9.09%;
  line-height: 21px;
  display: inline-block;
}
.rectangleParent {
  position: absolute;
  height: 94.44%;
  width: 31.65%;
  top: 0;
  right: 0;
  bottom: 5.56%;
  left: 68.35%;
  color: var(--color-blue-100);
}
.ratingStar,
.samosaParent {
  position: absolute;
  height: 35.29%;
  width: 83.23%;
  top: 64.71%;
  right: 0;
  bottom: 0;
  left: 16.77%;
  font-size: var(--font-size-xs);
}
.samosaParent {
  height: 50%;
  width: 41.13%;
  top: 22.55%;
  right: 58.87%;
  bottom: 27.46%;
  left: 0;
  font-size: var(--font-size-base);
  color: var(--color-gray-700);
}
.maskGroupParent {
  position: absolute;
  height: 93.58%;
  width: 100%;
  top: 0.92%;
  right: 0;
  bottom: 5.5%;
  left: 0;
}
.plantProtienBowl {
  position: absolute;
  top: 547px;
  left: -2px;
  width: 406px;
  height: 109px;
  color: var(--color-red-100);
}
.addItem {
  width: 100%;
  position: absolute;
  height: 83.33%;
  top: 16.67%;
  right: 0;
  bottom: 0;
  left: 0;
}
.hakkaNoodles {
  position: absolute;
  width: 83.23%;
  top: 0;
  left: 7.78%;
  line-height: 21px;
  color: var(--color-black);
  display: inline-block;
}
.div7,
.groupChild1 {
  position: absolute;
  left: 0;
}
.div7 {
  width: 45.51%;
  top: 31.37%;
  font-size: var(--font-size-base);
  line-height: 21px;
  display: inline-block;
}
.groupChild1 {
  height: 70.59%;
  width: 100%;
  top: 29.41%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-md);
  background-color: rgba(255, 246, 169, 0.51);
  border: 0.5px solid #152ae4;
  box-sizing: border-box;
}
.rectangleGroup {
  position: absolute;
  height: 94.44%;
  width: 31.65%;
  top: 0;
  right: 0;
  bottom: 5.56%;
  left: 68.35%;
  color: var(--color-blue-200);
}
.hakkaNoodlesParent {
  position: absolute;
  height: 50%;
  width: 41.13%;
  top: 22.55%;
  right: 58.87%;
  bottom: 27.46%;
  left: 0;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-700);
}
.maskGroupGroup,
.vegIconChild {
  position: absolute;
  height: 94.45%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 5.55%;
  left: 0;
}
.vegIconChild {
  height: 100%;
  bottom: 0;
  border-radius: var(--br-xs);
  border: 0.5px solid var(--color-green-100);
  box-sizing: border-box;
}
.vegIconItem {
  position: absolute;
  height: 55.56%;
  width: 55.56%;
  top: 22.22%;
  right: 22.22%;
  bottom: 22.22%;
  left: 22.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vegIcon {
  position: absolute;
  height: 16.67%;
  width: 4.43%;
  top: 0;
  right: 89.16%;
  bottom: 83.33%;
  left: 6.4%;
}
.springVegPlater {
  top: 683px;
  left: -2px;
  width: 406px;
  height: 108px;
  cursor: pointer;
  color: var(--color-red-100);
}
.menu,
.springVegPlater,
.vegIcon1 {
  position: absolute;
}
.vegIcon1 {
  top: 548px;
  left: 24px;
  width: 18px;
  height: 18px;
}
.menu {
  width: 89px;
  top: 791px;
  left: 315px;
}
.fullMenuChild,
.fullMenuItem {
  position: absolute;
  box-sizing: border-box;
}
.fullMenuChild {
  height: 100.78%;
  width: 100.1%;
  top: -0.39%;
  right: -0.05%;
  bottom: -0.39%;
  left: -0.05%;
  background-color: var(--color-gray-100);
  border: 0.2px solid var(--color-gray-700);
}
.fullMenuItem {
  height: 1.96%;
  width: 13.53%;
  top: 99.02%;
  right: 56.88%;
  bottom: -0.98%;
  left: 29.59%;
  border-top: 1px solid var(--color-brown);
}
.fullMenu1,
.healthy {
  position: absolute;
  width: 20.29%;
  top: 29.41%;
  line-height: 16.5px;
  display: inline-block;
}
.healthy {
  left: 29.71%;
}
.fullMenu1 {
  left: 4.59%;
  color: var(--color-gray-400);
}
.fullMenu {
  position: absolute;
  top: 268px;
  left: -1px;
  width: 414px;
  height: 51px;
  text-align: left;
  font-size: var(--font-size-6xl);
  font-family: var(--font-signika);
}
.searchFormgroup {
  width: 127px;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 422px;
  left: 272px;
}
.recommendedChild {
  position: absolute;
  height: 36.51%;
  width: 3.31%;
  top: 25.25%;
  right: -0.34%;
  bottom: 38.24%;
  left: 97.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.recommended1 {
  position: absolute;
  width: 35.2%;
  top: 0;
  left: 0;
  line-height: 16.5px;
  display: inline-block;
}
.recommended {
  position: absolute;
  top: 499px;
  left: 19px;
  width: 375px;
  height: 17px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-700);
}
.groupChild2 {
  top: 0;
  left: calc(50% - 207px);
  background-color: var(--color-white);
  width: 414px;
  height: 48px;
}
.groupChild2,
.time,
.wifiIcon {
  position: absolute;
}
.time {
  width: calc(100% - 340px);
  top: calc(50% - 9.5px);
  left: 0;
  letter-spacing: -0.33px;
  font-weight: 600;
  display: inline-block;
}
.wifiIcon {
  height: 78.95%;
  width: 5.33%;
  top: 10.53%;
  right: 6.85%;
  bottom: 10.53%;
  left: 87.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cellIcon {
  position: relative;
  width: 17px;
  height: 10.67px;
}
.border,
.capIcon {
  position: absolute;
  mix-blend-mode: normal;
}
.border {
  height: 94.44%;
  width: 88%;
  top: 2.78%;
  right: 12%;
  bottom: 2.78%;
  left: 0;
  border-radius: var(--br-2xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  opacity: 0.35;
}
.capIcon {
  height: 33.33%;
  width: 5.33%;
  top: 33.33%;
  right: 2.67%;
  bottom: 33.33%;
  left: 92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.4;
}
.capacity {
  position: absolute;
  height: 61.11%;
  width: 72%;
  top: 19.44%;
  right: 20%;
  bottom: 19.44%;
  left: 8%;
  border-radius: var(--br-3xs);
  background-color: var(--color-black);
}
.battery {
  position: absolute;
  top: 3px;
  right: 0;
  width: 25px;
  height: 12px;
}
.statusBar {
  position: absolute;
  width: calc(100% - 20px);
  top: calc(50% - 6px);
  right: 10px;
  left: 10px;
  height: 19px;
}
.rectangleContainer {
  top: 0;
  left: calc(50% - 207px);
  height: 48px;
}
.phoneMenuIcon,
.rectangleContainer,
.topBar {
  position: absolute;
  width: 414px;
}
.topBar {
  top: 0;
  left: -2px;
  height: 48px;
  font-size: var(--font-size-4xl);
}
.phoneMenuIcon {
  top: 892px;
  left: 1px;
  height: 38px;
}
.moxieOrderPage {
  position: relative;
  border-radius: var(--br-3xl);
  background-color: var(--color-white);
  width: 100%;
  height: 930px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-2xl);
  color: var(--color-black);
  font-family: var(--font-mulish);
}
