.backOptionIcon {
  position: absolute;
  top: 52px;
  left: 11px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  cursor: pointer;
}
.weHaveSent {
  position: absolute;
  top: 57px;
  left: 78px;
  width: 258px;
  height: 24px;
}
.div,
.mobileNumber,
.weHaveSent {
  line-height: 21px;
  display: inline-block;
}
.mobileNumber {
  position: absolute;
  top: 101px;
  left: 78px;
  width: 258px;
  height: 24px;
}
.div {
  top: 0;
  left: 0;
  width: 21px;
}
.div,
.div1,
.div2 {
  position: absolute;
  height: 24px;
}
.div1 {
  top: 0;
  left: 114px;
  line-height: 21px;
  display: inline-block;
  width: 21px;
}
.div2 {
  left: 38px;
}
.div2,
.div3,
.div4 {
  top: 0;
  line-height: 21px;
  display: inline-block;
  width: 21px;
}
.div3 {
  position: absolute;
  left: 152px;
  height: 24px;
}
.div4 {
  left: 76px;
}
.div4,
.div5,
.otpCode {
  position: absolute;
  height: 24px;
}
.div5 {
  top: 0;
  left: 190px;
  line-height: 21px;
  display: inline-block;
  width: 21px;
}
.otpCode {
  top: 5px;
  left: 5px;
  width: 211px;
}
.otpBoxChild {
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  border: 0.5px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 32px;
}
.otpBoxChild,
.otpBoxInner,
.otpBoxItem {
  position: absolute;
  top: 0;
  height: 35px;
}
.otpBoxItem {
  left: 76px;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  border: 0.5px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 32px;
}
.otpBoxInner {
  left: 38px;
}
.otpBoxChild1,
.otpBoxInner,
.rectangleDiv {
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  border: 0.5px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 32px;
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 114px;
  height: 35px;
}
.otpBoxChild1 {
  left: 152px;
}
.otp {
  position: absolute;
  height: 35px;
}
.otpBox,
.otpBoxChild1,
.otpBoxChild2 {
  position: absolute;
  top: 0;
  height: 35px;
}
.otpBoxChild2 {
  left: 190px;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  border: 0.5px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 32px;
  cursor: pointer;
}
.otp,
.otpBox {
  width: 222px;
}
.otpBox {
  left: 0;
}
.otp {
  top: 135px;
  left: 96px;
  font-size: var(--font-size-10xl);
}
.didntReceiveThe {
  position: absolute;
  line-height: 21px;
  display: inline-block;
  height: 24px;
}
.div6 {
  top: 763px;
  left: 78px;
  width: 258px;
}
.div6,
.resendNow {
  position: absolute;
  line-height: 21px;
  display: inline-block;
  height: 24px;
}
.didntReceiveThe {
  top: 806px;
  left: 63px;
  width: 174px;
}
.resendNow {
  top: 806px;
  left: 245px;
  color: var(--color-gray-300);
  width: 97px;
}
.phoneMenuIcon {
  top: 860px;
  left: 98px;
  width: 223px;
  height: 27px;
}
.phoneMenuIcon,
.time,
.wifiIcon {
  position: absolute;
}
.time {
  width: 13.71%;
  top: 0;
  left: 0;
  letter-spacing: -0.33px;
  font-weight: 600;
  display: inline-block;
}
.wifiIcon {
  height: 83.33%;
  width: 5.33%;
  top: 11.11%;
  right: 6.85%;
  bottom: 5.56%;
  left: 87.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cellIcon {
  position: relative;
  width: 17px;
  height: 10.67px;
}
.border,
.capIcon {
  position: absolute;
  mix-blend-mode: normal;
}
.border {
  height: 94.44%;
  width: 88%;
  top: 2.78%;
  right: 12%;
  bottom: 2.78%;
  left: 0;
  border-radius: var(--br-2xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  opacity: 0.35;
}
.capIcon {
  height: 33.33%;
  width: 5.33%;
  top: 33.33%;
  right: 2.67%;
  bottom: 33.33%;
  left: 92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.4;
}
.capacity {
  position: absolute;
  height: 61.11%;
  width: 72%;
  top: 19.44%;
  right: 20%;
  bottom: 19.44%;
  left: 8%;
  border-radius: var(--br-3xs);
  background-color: var(--color-black);
}
.battery {
  position: absolute;
  height: 66.67%;
  width: 6.35%;
  top: 16.67%;
  right: 0;
  bottom: 16.67%;
  left: 93.65%;
}
.statusBar {
  position: absolute;
  top: 14px;
  left: 7px;
  width: 394px;
  height: 18px;
  font-size: var(--font-size-4xl);
}
.branch {
  position: absolute;
  left: 32px;
  line-height: 21px;
}
.course {
  top: 256px;
  left: 32px;
}
.course,
.name,
.rollNo {
  position: absolute;
  line-height: 21px;
}
.rollNo {
  left: 32px;
}
.branch {
  top: 292px;
}
.rollNo {
  top: 330px;
}
.name {
  top: 218px;
  left: 34px;
}
.container,
.frame,
.rectangleFormgroup,
.wrapper {
  width: 229px;
  border: 0;
  background-color: transparent;
  position: absolute;
  left: 93px;
}
.wrapper {
  top: 215px;
}
.container {
  top: 252px;
}
.frame {
  top: 290px;
}
.rectangleFormgroup {
  top: 328px;
}
.sendOtpChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-800);
  cursor: pointer;
}
.sendOtp1 {
  position: absolute;
  height: 40.68%;
  width: 29.41%;
  top: 28.81%;
  left: 33.89%;
  line-height: 24px;
  display: inline-block;
}
.sendOtp {
  position: absolute;
  top: 398px;
  left: 25px;
  width: 357px;
  height: 59px;
  cursor: pointer;
  font-size: var(--font-size-8xl);
  color: var(--color-white);
}
.verificationCode {
  position: relative;
  border-radius: var(--br-3xl);
  background: linear-gradient(180deg, #2193b0 1.76%, rgba(214, 210, 210, 0));
  width: 100%;
  height: 896px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-mulish);
}
